body {
    background-color: black
}

body {
    justify-content: start;
    gap: 2rem;
}

.card {
    width: 100%;
    height: 396px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    gap: 20px;
    padding: 10px 10px 0px 10px;
}

.card img {
    width: 1100px;
    height: fit-content;
}

.course-detail {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.card-text {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: start;
}

.expl {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 2rem;
}

.h1 {
    font-family: "Poppins", sans-serif;
    font-size: 20.25px;
    height: fit-content;
    width: 100%;
}

.h2 {
    font-family: "Poppins", sans-serif;
    font-size: 20.25px;
    height: fit-content;
    width: 100%;
}

.h3 {
    font-family: "Poppins", sans-serif;
    font-size: 23.25px;
    height: fit-content;
    width: 100%;
    display: flex;
    padding: 0px;
    justify-content: start;
    align-items: center;
}

.wat-learn {
    width: 100%;
    height: fit-content;
    padding: 0px 0px 100px 0px;
}

.learn {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: start;
    justify-content: space-between;
    padding: 10px 0px 0px 10px;
    gap: 1rem;

}

.help {
    padding: 0px 0px 0px 10px;
}

.all-main {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding: 0px 0px 0px 0px;
}

.about {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px 10px 10px 0px;
}

.buttonss {
    width: 150%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 0px 0px 0px 0px;
}

.explan {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 2rem;
}

.intro {
    width: 100%;
    height: fit-content;
    background-color: white;
    color: black;
    border: 1px solid transparent;
    padding: 0px 10px 0px 30px;
}

.Ma {
    width: 309px;
    height: fit-content;
    /* gap: 11px; */
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: start;
}

.Man {
    width: 136px;
    height: fit-content;
    gap: 5px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: start;
}

.fun {
    padding: 0px 10px;
}

.duration {
    padding: 10px;
}

/* .hulum{
    padding: 10px;
} */
#accordion li{
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
}
#accordion li label{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    cursor: pointer;
    color: black;
}
#accordion li label span{
    transform: rotate(90deg);
    font-size: 20px;
    color: black;
}
/* #accordion .content{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
#accordion li label .content{
    max-height: 400px;
} */
