body {
    background-color: black
}

body {
    justify-content: start;
    gap: 2rem;
}

.card {
    width: 1318px;
    height: 396px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    gap: 20px;
    padding: 10px 20px;

}

.card img {
    width: 100%;
    height: 396px;
}

.course-detail {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.card-text {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: start;
}

.expl {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 2rem;
}

.h1 {
    font-family: "Poppins", sans-serif;
    font-size: 20.25px;
    height: 35px;
    width: 355px;
}

.h2 {
    font-family: "Poppins", sans-serif;
    font-size: 21.25px;
    height: 35px;
    width: 201px;
}

.h3 {
    font-family: "Poppins", sans-serif;
    font-size: 23.25px;
    height: 35px;
    width: 106%;
    display: flex;
    padding: 0px;
    justify-content: start;
    align-items: center;
}

.wat-learn {
    padding: 65px 0px 0px 0px;
    width: 345px;
    height: 507px;
    gap: 20px;
}

.learn {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: start;
    justify-content: space-between;
    padding: 10px;
    gap: 1rem;

}

.all-main {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    height: 507px;
    width: 1728px;
    padding: 0px 0px 0px 0px;
}

.about {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.buttonss {
    width: 819px;
    height: 507;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 70px 250px 0px 175px;
}

.intro:hover {
    background-color: white;
    border-width: 1px;
    border-style: solid;
    transition: 0.2s;
}

.explan {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 2rem;
}

.intro {
    width: 819px;
    height: 192;
    background-color: white;
    color: black;
    border: 1px solid transparent;
    padding: 20px;
}

.Ma {
    width: 309px;
    height: 24px;
    gap: 11px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: start;
}

.Man {
    width: 136px;
    height: 24px;
    gap: 11px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: start;
}

.Mannn {
    width: 309px;
    height: 24px;
    gap: 11px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0px 10px;
}